.ctx\:form-field {
	input[type="date"] {
		width: 100%;
	}
}

.age-info {
	background: #d6e7f1;
	padding: 4px 8px;
	border: 1px solid #b6d1e8;
	border-radius: 3px;
	color: #385f81;

	input {
		background-color: #edf6ff;
		border-color: #92abc0;
		color: #385f81;
	}
}
