.ctx\:form-field {
	input[type="date"] {
		width: 100%;
	}
}

.ctx\:form-age-info {
	background: #f0f6fc;
	padding: 4px 8px;
	border-left: 3px solid #72aee6;
}

.ctx\:fom-age-info-title {
	padding-bottom: 8px;
	font-weight: bold;
}
