.ctx\:form-field {
	padding: 1rem 1rem;
	background-color: #ffffff !important;
	border: 1px solid #909090;
	grid-column: auto / span 6;
	box-sizing: border-box;

	&--6 {
		grid-column: auto / span 6;
	}

	&--5 {
		grid-column: auto / span 5;
	}

	&--4 {
		grid-column: auto / span 4;
	}

	&--3 {
		grid-column: auto / span 3;
	}

	&--2 {
		grid-column: auto / span 2;
	}

	&--1 {
		grid-column: auto / span 1;
	}

	input[type="text"] {
		width: 100%;
		color: #999;
	}

	&--error {
		background: #fcf4f4 !important;
		border-color: #ff0000 !important;
	}

	&__caption {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 2rem;

		p {
			margin: 0;
		}
	}

	&__name {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__description {
		display: flex;
		flex-direction: column;
	}

	&__label {
		font-size: 0.8rem;
		color: #999;
	}

	&__error-message {
		color: #ff0000;
		font-size: 0.8rem;
		margin-top: 0.25rem;
	}

	&__info {
		display: flex;
		gap: 10px;
		align-items: center;
	}
}
