.ctx\:event-field {
	padding: 1rem 1rem;
	background: #ffffff;
	grid-column: auto / span 6;
	box-sizing: border-box;
	align-items: stretch !important;
	max-width: 1200px !important;

	&--6 {
		grid-column: auto / span 6;
	}

	&--5 {
		grid-column: auto / span 5;
	}

	&--4 {
		grid-column: auto / span 4;
	}

	&--3 {
		grid-column: auto / span 3;
	}

	&--2 {
		grid-column: auto / span 2;
	}

	&--1 {
		grid-column: auto / span 1;
	}

	input[type='text'] {
		width: 100%;
		color: #999;
	}

	&--error {
		background: #fcf4f4 !important;
		box-shadow: inset 0 0 0 1px #b32d2e !important;
	}

	&__caption {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 2rem;

		p {
			margin: 0;
		}
	}

	&__sublabel {
		font-size: 0.8rem;
		color: #999;
	}

	&__info {
		display: flex;
		align-items: center;
		gap: .5rem;
	}

	&__description {
		display: flex;
    flex-direction: column;	
	}

	&__error-message {
		color: #ff0000;
		font-size: 0.8rem;
		margin-top: 0.25rem;
	}
}

.ctx\:event-details {
	&__label--lock {
		display: flex;
		align-items: center;

		svg {
			margin-left: 5px;
		}
	}
}
