.ctx\:form-submit {
	display: flex;
	margin-top: 2rem;
	&--center {
		justify-content: center;
	}

	&--right {
		justify-content: flex-end;
	}

	&__button {
		background: var(--wp-admin-theme-color);
		padding: 8px 15px;
		color: #fff;
	}
}
