.ctx\:form-submit {
}

.ctx\:form-field__submit-wrapper {
	display: flex;
	margin-top: 2rem;
	&--center {
		justify-content: center;
	}

	&--right {
		justify-content: flex-end;
	}
}

.wp-block-gutenberg-form-submit {
	border-radius: 0 !important;
	border: 1px solid #909090 !important;
}
